span.enemy-active {
  border-bottom: 3px solid #2d9441;
}

span.correct {
  color: #80cc8f;
}

.panel-video {
  top: 50%;
  left: 50%;
  width: 500px;
  height: auto;
}

.prompt {
  color: #ffffff;
  font-size: 50px;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
