@font-face {
  font-family: 'VivComicHandwriting-Regular';
  src: url('./fonts/VivComicHandwriting-Regular.ttf') format('truetype');
}

.comic-gallery {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-color: #000000;
  max-width: 100%;
  overflow: hidden;
}