.comic-gallery {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  background-color: #000000;
  height: 100vh;
  overflow-y: auto;
  scroll-behavior: smooth;
}

.panel-wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.panel {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
}
