@font-face {
  font-family: 'VivComicHandwriting-Regular';
  src: url('./fonts/VivComicHandwriting-Regular.ttf') format('truetype');
}

.scene {
  width: 800px;
  background-size: cover;
  background-position: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}